.main{width: 1140px;height:1971px;margin: 0 auto;}
	.m_left{width: 840px;float: left;}
		.m_con{width: 826px;height: 829px;padding-left: 14px;position: relative;}
			.m_con h3{height: 22px;line-height: 22px;padding-top: 42px;font-size: 19px;}
			.m_con .p1{height: 45px;line-height: 45px;font-size: 13px;color: #9a9a9a;}
			.m_con .p1 a{color: #ee6350;}
			.m_con img{width: 813px;border: 6px solid #eb5844;}
			.m_con .a1{display: block;width: 42px;height: 41px;background: url(../images/s-icons.png) no-repeat -240px -122px;position: absolute;left:751px ;top: 491px;}
			.m_con .a2{display: block;width: 42px;height: 41px;background: url(../images/s-icons.png) no-repeat -288px -122px;position: absolute;left:796px ;top: 491px;}
			.m_con .p2{height: 40px;line-height: 40px;font-size: 13px;color: #7a8285;}
			.m_con .p2 span{font-size: 15px;color: #ee6350;}
			.m_con .p3{line-height: 23px;color: #9a9a9a;font-size: 13px;}
		.m_form{height: 557px;}
			.m_form h2{height: 47px;line-height: 47px;padding-left: 15px;font-size: 26px;}
			.m_form p{font-size: 15px;height: 24px;line-height: 24px;padding-left: 23px;}
			.m_form input{height: 38px;width: 791px;line-height: 38px;background: #eee;margin-left: 22px;margin-bottom: 16px;padding-left: 17px;}
			.m_form textarea{width: 791px;height: 150px;background: #eee;margin-left: 22px;padding-left: 17px;margin-bottom: 16px;}
			.m_form .sub{width: 145px;height: 51px;background: #ed5844;color: #fff;font-size: 15px;font-weight: bold;padding-left: 0;box-shadow: 0 0 6px rgba(0,0,0,.5) inset;border-radius: 4px;}
		.m_comments{height: 585px;}
			.m_comments h2{height: 61px;line-height: 61px;padding-left: 15px;font-size: 26px;}
			.comments{height: 199px;width: 823px;border: 1px solid #eee;margin-bottom: 40px;}
			.comments img{width: 158px;padding: 17px 48px 24px 15px;float: left;}
			.comments h3{height: 20px;line-height: 20px;padding-top: 15px;font-size: 14px;}
			.comments p{line-height: 23px;font-size: 13px;color: #969696;}
			.comments span{height: 59px;line-height: 59px;font-size: 13px;color: #c5c5c5;}
			.comments a{display: block;width: 99px;height: 43px;background: #ed5844;float: right;line-height: 43px;text-align: center;color: #fff;margin-right: 97px;box-shadow: 0 0 6px rgba(0,0,0,.5) inset;border-radius: 4px;font-weight: bold;}
	.m_right{width: 270px;float: right;}
		.search h3{height: 68px;line-height: 68px;padding-top: 17px;font-size: 16px;}
		.search form{width: 254px;height: 42px;border: 1px solid #eee;color: #999;line-height: 42px;margin-bottom: 10px;}
		.search .text{width: 207px;padding-left: 18px;color: #969696;}
		.search .sub{width:28px;background: url(../images/search.png) no-repeat ;}
		.m_right h2{height: 54px;line-height: 54px;font-size: 16px;}
		.m_right li{height: 23px;line-height: 23px;font-size: 13px;color: #9a9a9a;padding-left: 24px;background: url(../images/b_arrow.png) no-repeat left center;}
		.pic img{width: 114px;float: left;padding: 0 12px 8px 0;}
