<div class="bglist">
	<span class="back">&larr;</span>
	<div class="author">
		<p class="des"></p>
		<img src="images/18520173860077979.jpg" class="small"/>
		<p class="name"></p>
	</div>
	<div class="pic">
		<img src="images/3265549567416436.jpg" class="big"/>
		<span class="count"></span>
	</div>
</div>
<div class="taglist">
	<p class="tag">标签:</p>
	<p class="des"></p>
</div>
<h3 class="d_list">歌曲列表</h3>
<ol class="songlist2"></ol>
<div id="songbox2" style="display: none;">
	<li>
		<span class="start"></span>
		<img src="images/like.png" class="like"/>
		<img src="images/liked.png" style="display: none;" class="liked"/>
		<span class="order"></span>
		<h4></h4>
		<p></p>
	</li>
</div>
