<div class="play">
	<div class="title">
		<span class="back">&larr;</span>
		<div class="txt">
			<h4>给我一个理由忘记</h4>
			<p>A-lin</p>
		</div>
	</div>
	<div class="cont">
		<img src="images/stick_bg.png" class="stick"/>
		<div class="cd">
			<img src="images/cd_wrapper.png" class="cd_w"/>
			<img src="images/109951162857949886.jpg" class="pic"/>
		</div>
		<div class="bar">
			<span class="start">00:00</span>
			<span class="over">00:00</span>
		</div>
		<div class="red">
			<span class="ball"></span>
		</div>
	</div>
</div>
